@import '../lib/variables';
@import '../lib/mixins';

header {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 10;
  @include flex-row-align(center);

  .header {
    &-list {
      @include flex-row-justify-align(space-evenly, center);
      flex: 1;

      &.justify-end {
        @include flex-justify(flex-end);
      }

      &-item {
        font-size: 1.3 * $base-font-size;
        text-transform: uppercase;
        padding: 10px 20px;
        text-decoration: none;
        color: $secondary-color;

        &.big {
          font-size: $larger-font-size;
        }
      }
    }
  }
}
