header {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 10;
  display: flex;
  align-items: center;

  .header {
    &-logo {
      font-size: 2rem;
    }

    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex: 1;

      > div {
        display: flex;
        align-items: center;
      }

      &-item {
        display: inline;
        padding: 20px;
        font-size: 1rem;
        text-transform: uppercase;

        &.big {
          font-size: 2rem;
        }

        a {
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }
}
