@import '../lib/variables';
@import '../lib/mixins';

.banner {
  @include flex-row-center;
  background: url('../assets/images/bg-pic.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;

  &-logo {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 100px;

    img {
      height: 100%;
    }
  }

  &-head {
    @include flex-column-center;
    color: #ffffff;

    &-title {
      font-size: 3 * $larger-font-size;
      text-transform: uppercase;
      line-height: 1;

      &.big {
        font-size: 4 * $larger-font-size;
      }

      &.small {
        font-size: 1.5 * $larger-font-size;
      }
    }
  }
}
