@import '../lib/variables';
@import '../lib/mixins';

.location {
  position: relative;
  background: #ffffff;

  &-head {
    @include flex-column;
    position: absolute;
    top: 100px;
    left: 10%;
    z-index: 1;
    background-color: #ffffff;
    padding: 20px;

    > .heading {
      @include flex-align(center);
      margin-top: -40px;
    }

    span {
      font-family: $secondary-font-family;
      color: $secondary-color;
    }
  }
  &-map {
    height: 500px;
  }
}
