@import '../lib/mixins';

.menu {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  background: #f8f8f8;

  @include large-desktop() {
    padding-left: 20%;
    padding-right: 20%;
  }

  &-head {
    position: absolute;
    padding: 50px;
    top: 0;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-column {
    display: flex;
    flex: 1;
    padding-top: 220px;
    background: #f8f8f8;
    flex-direction: column;
    padding-bottom: 40px;

    &-1 {
      z-index: 4;
    }

    &-2 {
      z-index: 3;

      .heading {
        margin-top: 85px;
      }
    }

    &-3 {
      z-index: 2;

      .heading {
        margin-top: 50px;
      }
    }

    &-4 {
      .heading {
        margin-top: 35px;
      }
    }

    &:not(:first-of-type) {
      margin-left: -6px;
    }

    &:not(:last-of-type) {
      border-right: 1px solid grey;
    }
  }

  &-item {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    &-title {
      text-transform: uppercase;
      padding-bottom: 5px;
    }

    &-description {
      font-size: 0.8rem;
      color: #696969;
      font-family: $secondary-font-family;
      padding-bottom: 10px;
    }

    &-price {
      border: 2px solid $primary-color;
      padding: 5px 5px 0;
    }
  }

  .heading {
    margin-left: 0;
  }
}
