@import '../lib/mixins';

.menu {
  @include padded-lr;
  position: relative;
  background: #f8f8f8;

  &-head {
    @include flex-column-center;
    position: absolute;
    padding: 80px;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
  }

  &-content {
    @include flex-row-justify(space-between);
  }

  &-column {
    @include flex-column;
    flex: 1;
    padding-top: 220px;
    background: #f8f8f8;
    padding-bottom: 40px;

    .heading {
      margin-bottom: 20px;
    }

    &-1 {
      z-index: 4;
    }

    &-2 {
      z-index: 3;

      .heading {
        margin-top: 85px;
      }
    }

    &-3 {
      z-index: 2;

      .heading {
        margin-top: 50px;
      }
    }

    &-4 {
      background: transparent;
      z-index: 2;
      .heading {
        margin-top: 35px;
      }
    }

    &:not(:first-of-type) {
      margin-left: -8px;
    }

    &:not(:last-of-type) {
      border-right: 1px solid #cecece;
    }
  }

  &-item {
    @include flex-column-align(flex-start);
    margin-left: 35px;
    margin-bottom: 30px;
    margin-right: 5px;

    &-title {
      text-transform: uppercase;
      padding-bottom: 5px;
    }

    &-description {
      font-size: 1rem;
      color: $third-color;
      font-family: $secondary-font-family;
      padding-bottom: 10px;
    }

    &-price {
      border: 2px solid $primary-color;
      padding: 5px;
    }
  }

  .heading {
    margin-left: 0;
  }
}
