@import '../lib/mixins';
@import '../lib/variables';

.recipes {
  padding-top: 100px;
  &-row {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;

    @include desktop() {
      padding-left: 20%;
      padding-right: 20%;
    }

    &.align-end {
      justify-content: flex-end;
    }

    &.align-start {
      justify-content: flex-start;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;

    &.align-end {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  &-list {
    padding-top: 50px;
  }

  &-nav {
    padding: 10px;
    cursor: pointer;

    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
