@import '../lib/mixins';
@import '../lib/variables';

.recipes {
  @include padded;
  padding-right: 0;
  background: #ffffff;

  &-row {
    @include flex-row-justify(space-between);
    overflow: hidden;

    &:first-of-type,
    &:last-of-type {
      @include phone {
        @include flex-column;
        padding: 10px;
      }
      padding-right: $gutter-width;
    }

    &:not(:first-of-type):not(:last-of-type) {
      padding-top: 100px;
      padding-bottom: 20px;
    }

    &.justify-end {
      @include flex-justify(flex-end);
    }

    &.justify-start {
      @include flex-justify(flex-start);
    }
  }

  &-column {
    @include flex-column;

    &.end {
      @include phone {
        margin-top: 20px;
      }
      @include flex-justify-align(flex-end);
    }
  }

  &-nav {
    padding: 10px;
    cursor: pointer;

    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
