@import '../lib/variables';

.recipe {
  margin-right: 20px;
  position: relative;

  &-card {
    width: 370px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04);

    &-header {
      height: 370px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #000000;
      background-size: cover;
      position: relative;
    }

    &-servings {
      width: 100px;
      height: 110px;
      color: #ffffff;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;

      span {
        font-size: 1.5 * $base-font-size;
        &:first-of-type {
          font-size: 3.5 * $base-font-size;
        }
      }
    }

    &-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: $primary-color;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;

      img {
        width: 100%;
      }
    }

    &-content {
      padding: 30px;

      span {
        font-size: $base-font-size;
        text-transform: uppercase;
        color: rgba($color: #595955, $alpha: 0.3);
      }

      h3 {
        font-size: 1.5rem;
        margin: 5px 0;
        text-transform: uppercase;
      }

      p {
        color: #595955;
        font-size: $base-font-size;
        font-family: $secondary-font-family;
        text-align: justify;
        line-height: 1.2;
        margin-bottom: 0;
      }
    }

    > .chef-choice {
      position: absolute;
      top: -50px;
      z-index: 1;
      right: 10%;

      img {
        height: 100%;
      }
    }

    &.small {
      width: 240px;

      .recipe-card {
        &-header {
          height: 240px;
        }

        &-servings {
          width: 60px;
          height: 60px;

          span {
            font-size: $small-font-size;

            &:first-of-type {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  > span {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: $secondary-color;
  }

  &.align-bottom {
    align-self: flex-end;
  }
}
