@import '../lib/mixins';
@import '../lib/variables';

.collaboration {
  background: 66% 5px $primary-color no-repeat
    url('../assets/images/detail02.png');
  padding: 100px 10px;
  display: flex;
  flex-direction: column;

  @include desktop() {
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: row;
  }

  &-column {
    flex: 1;
  }

  &-content {
    max-width: 50%;

    @include phone {
      max-width: 100%;
    }
  }

  p {
    color: #9a9a9a;
    font-family: $secondary-font-family;
  }

  form {
    > div {
      display: flex;
      padding: 10px 0;

      div {
        display: flex;
        flex-direction: column;
        flex: 1;

        &:last-of-type {
          margin-left: 10px;
        }
      }

      &:last-of-type {
        justify-content: flex-end;
      }
    }

    label {
      padding-bottom: 5px;
      text-transform: uppercase;
    }

    input,
    select {
      font-family: $secondary-font-family;
      background: transparent;
      border: 0;
      border-bottom: 1px solid $secondary-color;
      outline: none;
      padding: 5px 0;
      color: #808080;
    }
  }
}
