@import '../lib/mixins';
@import '../lib/variables';

.collaboration {
  background: 66% 5px $primary-color no-repeat url('../assets/images/detail02.png');
  padding: 100px 10px;
  display: flex;
  flex-direction: column;

  @include desktop() {
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: row;
  }

  &-column {
    flex: 1;
  }

  &-content {
    max-width: 90%;

    @include desktop {
      max-width: 60%;
    }
  }

  p {
    color: #9a9a9a;
    font-family: $secondary-font-family;
  }
}
