@import '../lib/variables';
@import '../lib/mixins';

$text-color: rgba($color: #3c3c3c, $alpha: 0.3);

.form {
  &-row {
    @include flex-row;
    padding: 10px 0;

    &.justify-end {
      @include flex-justify(flex-end);
    }
  }

  &-column {
    @include flex-column;
    flex: 1;

    &:last-of-type {
      margin-left: 10px;
    }

    label {
      padding-bottom: 5px;
      text-transform: uppercase;
    }

    input,
    select {
      font-family: $secondary-font-family;
      background: transparent;
      border: 0;
      border-bottom: 1px solid $secondary-color;
      outline: none;
      padding: 5px 0;
      color: $text-color;
    }

    input::placeholder {
      color: $text-color;
    }
  }
}
