@import '../lib/variables';

.form {
  &-row {
    display: flex;
    padding: 10px 0;

    &.align-end {
      justify-content: flex-end;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:last-of-type {
      margin-left: 10px;
    }

    label {
      padding-bottom: 5px;
      text-transform: uppercase;
    }

    input,
    select {
      font-family: $secondary-font-family;
      background: transparent;
      border: 0;
      border-bottom: 1px solid $secondary-color;
      outline: none;
      padding: 5px 0;
      color: rgba($color: #3c3c3c, $alpha: 0.3);
    }

    input::placeholder {
      color: rgba($color: #3c3c3c, $alpha: 0.3);
    }
  }
}
