@import './lib/variables';

@font-face {
  font-family: 'Gill Sans';
  src: url('./assets/fonts/GillSans.ttc') format('OpenType');
}

@font-face {
  font-family: 'DCB';
  src: url('./assets/fonts/DIN-Condensed-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
  font-size: 14px;
}
