@font-face {
  font-family: 'Gill Sans';
  src: url('./assets/fonts/GillSans.ttc') format('OpenType');
}

@font-face {
  font-family: 'DCB';
  src: url('./assets/fonts/DIN Condensed Bold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: DCB, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
