@import '../lib/mixins';
@import '../lib/variables';

footer {
  background-color: $secondary-color;
  font-family: $primary-font-family;
  @include padded;
  .section {
    padding-right: 5px;

    &-title {
      text-transform: uppercase;
      color: $primary-color;
    }

    &-link {
      font-family: $secondary-font-family;
      font-size: 1.1 * $base-font-size;
      color: rgba($color: #ffffff, $alpha: 0.47);
      cursor: pointer;
      padding: 5px 0;
    }
  }

  .logo {
    @include flex-column-align(flex-end);

    .heading {
      color: #ffffff;
      @include flex-align(flex-end);
    }
  }

  .footer {
    &-text {
      font-family: $secondary-font-family;
      color: rgba($color: #ffffff, $alpha: 0.47);
    }

    &-row {
      @include flex-row;

      &.space-between {
        @include flex-justify(space-between);
      }

      &.align-center {
        @include flex-align(center);
      }

      &:not(:first-of-type) {
        margin-top: 20px;
      }

      @include phone() {
        @include flex-column;
      }
    }

    &-column {
      @include flex-row-justify(space-between);
      flex: 0.6;
    }
  }
}
