@import '../lib/mixins';
@import '../lib/variables';

footer {
  background-color: $secondary-color;
  font-family: $primary-font-family;
  padding: 100px 10px;

  .section {
    padding-right: 5px;

    &-title {
      text-transform: uppercase;
      color: #ffdac9;
    }

    &-link {
      font-family: $secondary-font-family;
      color: #bfbfbf;
      cursor: pointer;
      padding: 5px 0;
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .heading {
      color: #ffffff;
      align-items: flex-end;
    }
  }

  .footer {
    &-text {
      font-family: $secondary-font-family;
      color: #9a9a9a;
    }

    &-row {
      display: flex;

      &.space-between {
        justify-content: space-between;
      }

      &.align-center {
        align-items: center;
      }

      &:not(:first-of-type) {
        margin-top: 20px;
      }

      @include phone() {
        flex-direction: column;
      }
    }

    &-column {
      display: flex;
      flex: 0.6;
      justify-content: space-between;
    }
  }

  @include desktop() {
    padding-left: 20%;
    padding-right: 20%;
  }
}
